In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%matplotlib qt

In [3]:
from renewableopt.data import DATASET_DIR, load_excel, write_results
from renewableopt.sensitivity import run_sensitivity, sensitivity_dataframe, create_plotting_artifact

In [4]:
active_dir = DATASET_DIR / "sensitivity_1"

In [6]:
filename = active_dir / "sensitivity.xlsx"
costs, loads, generation = load_excel(filename)

In [7]:
generation

                solar  wind  geothermal
Time (hr)
0.000000     0.000000   1.0           1
0.083333     0.000000   1.0           1
0.166667     0.000000   1.0           1
0.250000     0.000000   1.0           1
0.333333     0.000000   1.0           1
...               ...   ...         ...
8783.583333  0.714297   1.0           1
8783.666667  0.714297   1.0           1
8783.750000  0.714297   1.0           1
8783.833333  0.714297   1.0           1
8783.916667  0.714297   1.0           1

[105408 rows x 3 columns]

In [8]:
costs

                             Scenario 1: Base Case  Scenario 2: No Geothermal
Solar (K/MW)                                  1250                       1250
Wind cost (K/MW)                              1250                       1250
Geothermal cost (K/MW)                        3500                  100000000
Battery energy cost (K/MWh)                    300                        300
Battery power cost (K/MW)                      350                        350

In [9]:
loads

        Base Case       100%        75%        50%        25%
0       37.543492  31.977903  33.369300  34.760697  36.152095
1       37.367223  31.827765  33.212630  34.597494  35.982358
2       37.269834  31.744814  33.126069  34.507324  35.888579
3       37.098413  31.598805  32.973707  34.348609  35.723511
4       37.016007  31.528615  32.900463  34.272311  35.644159
...           ...        ...        ...        ...        ...
105403  41.933907  35.861970  37.305072  38.897939  40.430899
105404  41.725028  35.683337  37.119251  38.704183  40.229507
105405  41.518353  35.506588  36.935389  38.512470  40.030240
105406  41.294051  35.314764  36.735847  38.304408  39.813977
105407  41.064467  35.118423  36.531605  38.091445  39.592622

[105408 rows x 5 columns]

# Outputs of Sensitivity

1. Optimal Capacities
2. Day at which peak occurs
3. Total cost of capacity
4. Names of Scenarios
5. Dispatch stack for each scenario
6. Type of clustering required

In [13]:
results = run_sensitivity(generation, loads, costs)

Base Case Scenario 1: Base Case
Base Case Scenario 2: No Geothermal
100% Scenario 1: Base Case
100% Scenario 2: No Geothermal
75% Scenario 1: Base Case
75% Scenario 2: No Geothermal
50% Scenario 1: Base Case
50% Scenario 2: No Geothermal
25% Scenario 1: Base Case
25% Scenario 2: No Geothermal

In [14]:
df = sensitivity_dataframe(results, loads, costs, generation)

In [15]:
df

,Load Scenario,Cost Scenario,Battery Energy Installed (MWh),Battery Power Installed (MW),Solar Installed (MW),Wind Installed (MW),Geothermal Installed (MW),Hours of storage,Total cost of Capacity (Million USD),Load served over year (GWh),Energy cost ($/KWh),Peak Date,Clustering Method
0,Base Case,Scenario 1: Base Case,111.436010,20.596440,26.142967,0.000000,72.114890,5.410450,325.720382,408.658650,0.797048,2012-08-13,Solar only
1,Base Case,Scenario 2: No Geothermal,916.245038,417.294764,454.596242,7582.207582,0.000000,2.195678,10466.931459,408.658650,25.612896,2012-12-22,KMeans (Wind and solar)
2,100%,Scenario 1: Base Case,103.624255,19.361787,24.722781,0.000000,63.266406,5.351999,290.199798,351.561664,0.825459,2012-08-13,Solar only
3,100%,Scenario 2: No Geothermal,795.018506,397.219842,3001.197433,3647.291079,0.000000,2.001457,8688.143136,351.561664,24.712999,2012-12-22,KMeans (Wind and solar)
4,75%,Scenario 1: Base Case,101.070133,18.728526,23.807342,0.000000,64.522730,5.396588,292.464755,364.030439,0.803407,2012-08-13,Solar only
5,75%,Scenario 2: No Geothermal,812.310727,315.898649,2085.803560,3189.846149,0.000000,2.571428,6948.819881,364.030439,19.088568,2012-12-22,KMeans (Wind and solar)
6,50%,Scenario 1: Base Case,107.541798,19.980188,25.436926,0.000000,67.688019,5.382422,307.959830,380.110157,0.810186,2012-08-13,Solar only
7,50%,Scenario 2: No Geothermal,849.636714,389.496589,2920.918733,2013.685635,0.000000,2.181371,6559.470280,380.110157,17.256761,2012-12-22,KMeans (Wind and solar)
8,25%,Scenario 1: Base Case,110.393816,20.477021,26.045260,0.000000,70.091825,5.391107,318.163066,394.745498,0.805995,2012-08-13,Solar only
9,25%,Scenario 2: No Geothermal,905.632584,454.129757,2974.747336,4838.285426,0.000000,1.994215,10196.926143,394.745498,25.831646,2012-12-22,KMeans (Wind and solar)

## Write sensitivity results to excel

In [25]:
write_results(filename, df)

Sensitivity results sheet already exists. Replace results? [y/n]y

# Save visualization images

In [22]:
create_plotting_artifact(active_dir / "Images", results)